
/*begin with dishName-  
[class^="dishName-"],{ 
    padding: 0 0; 
} */
.red{
	color:red;
}
.bgcolor
{
	background-color:#eee!important;
}

.table_label {
    font-size: 1.5em;
    margin: 0 1.5em;
    position: absolute;
    z-index: 1; 
    background: green;
    color: white;
    width: 2em;
    text-align: center;
}

.plusicon_green{
	float: right;
	color: green;
	font-size:1.5em;
	z-index:100 !important;
}
.addrplusicon_green{
	float: right;
	color: green;
	font-size:2em; 
	text-align: right;
}

.icon_button{
	float: right;
	width:30%;
	height:100%;
	margin-top: 0.2em !important;
    margin-right: 0.2em !important;
	background-color:transparent;
}
/*sider的结账按钮*/
#checkOutBtn{
	width: 100%;
    font-size: 0.9em;
}

.icon_button:hover{
	background-color:transparent;
}
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background: rgba(255, 255, 255, 0);
}

#buyer_name, #buyer_address, #buyer_phone{
	font-family: Verdana, Geneva, sans-serif;
	font-size; 1.3em;
	font-weight:600;
}

/*使桌子变灰*/
.tableimg {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/*设置modal背景可用*/
.modal-backdrop {
    display:none;
}
.modal-open .modal {
    width: 350px;
	height:412px;
    margin: 0 auto;
}/*设置modal背景可用 结束*/

/*调整modal大小*/
.modal-dialog {
    width: 350px;
}


@media screen and (min-width: 44.375em)
{
	.site-title {
	font-size: 28px;
	}
	.site-description {
    font-size: 13px;
	}
	.widget .widget-title {
		font-size: 1.5em ;
	}

	.widget {
		font-size: 13px;
	}
}

/* Print styling */
@media print {

	#checkOut{
		display: none;
	}
	#trashIcon{
		display: none;
	}
	[class*="col-sm-"] {
		float: left;
	}

	[class*="col-xs-"] {
		float: left;
	}

	.col-sm-12, .col-xs-12 { 
		width:100% !important;
	}

	.col-sm-11, .col-xs-11 { 
		width:91.66666667% !important;
	}

	.col-sm-10, .col-xs-10 { 
		width:83.33333333% !important;
	}

	.col-sm-9, .col-xs-9 { 
		width:75% !important;
	}

	.col-sm-8, .col-xs-8 { 
		width:66.66666667% !important;
	}

	.col-sm-7, .col-xs-7 { 
		width:58.33333333% !important;
	}

	.col-sm-6, .col-xs-6 { 
		width:50% !important;
	}

	.col-sm-5, .col-xs-5 { 
		width:41.66666667% !important;
	}

	.col-sm-4, .col-xs-4 { 
		width:33.33333333% !important;
	}

	.col-sm-3, .col-xs-3 { 
		width:25% !important;
	}

	.col-sm-2, .col-xs-2 { 
		width:16.66666667% !important;
	}

	.col-sm-1, .col-xs-1 { 
		width:8.33333333% !important;
	}
	  
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-xs-1,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12 {
	float: left !important;
	}

	body {
		margin: 0;
		padding 0 !important;
		/* width: 1200px;
		min-width: 768px; */
		width: 80mm;/*制定热敏打印纸的宽度*/
		/* min-width: 768px; */
		
	}

	.container {
		/* width: auto;
		min-width: 750px; */
		width: 78mm;/*制定热敏打印纸的宽度*/
	}

	body {
		font-size: 10px;
	}

	a[href]:after {
		content: none;
	}

	.noprint, 
	div.alert, 
	header, 
	.group-media, 
	.btn, 
	.footer, 
	form, 
	#comments, 
	.nav, 
	ul.links.list-inline,
	ul.action-links {
		display:none !important;
	}
}
